<p id="notice"><%= notice %></p>

<h1>Protest 45</h1>


    <% @events.each do |event| %>

       <div class="">
          <h3><%= link_to event.title, event %></h3>
          <p><%= event.date %> - <%= event.time %></p>
          <p><%= event.location %></p>
          <p><%= event.description %></p>

          <% if event.facebook_url %>
            <%= link_to 'Go', event.facebook_url %>
          <% else %>
            <%= link_to 'Go', event.other_url %>
          <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
