<p id="notice"><%= notice %></p>

<h1>Protest 45</h1>


    <% @events.each do |event| %>

       <div class="">
          <h3><%= link_to event.title, event %></h3>
          <p><%= event.datetime.strftime("%A, %B %e - %m:%M%p") %></p>
          <p><%= event.address1 %> </p>
          <p><%= event.address2 %> </p>
          <span><%= event.city %></span>,<span> <%= event.state %></span><span> <%= event.zip %> </span>
          <p>Description: <%= event.description %></p>

          <% if event.url %>
            <%= link_to 'Go', event.url %>
          <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
