<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs city-tabs">
  <li class="active"><a data-toggle="tab" href="#dc">washington, dc</a></li>
  <li><a data-toggle="tab" href="#ny">new york, ny</a></li>
  <li><a data-toggle="tab" href="#sf">san francisco, ca</a></li>
  <li><a data-toggle="tab" href="#la">los angeles, ca</a></li>
  <li><a data-toggle="tab" href="#bos">boston, ma</a></li>
  <li><a data-toggle="tab" href="#chi">chicago, il</a></li>
</ul>

<div class="container">
<div class="tab-content">
  <div id="dc" class="tab-pane fade in active">
    <h3>washington, dc events</h3>
    <%=form_tag filter_by_tag_path, method: 'get' do %>
<%= collection_select :event, :tag_id, Tag.all, :id, :name, {prompt: "Filter events by category"}, {class: "form-control"} %>
    <%=submit_tag "Filter"%>
  </p>
<%end%>

     <% @dcevents.each do |event| %>
        <%= render partial: "eventlist", locals: { event: event } %>
      <% end %>
  </div>
  <div id="ny" class="tab-pane fade">
    <h3>new york city events</h3>
       <%=form_tag filter_by_tag_path, method: 'get' do %>
<%= collection_select :event, :tag_id, Tag.all, :id, :name, {prompt: "Filter events by category"}, {class: "form-control"} %>
    <%=submit_tag "Filter"%>
  </p>
<%end%>
      <% @nyevents.each do |event| %>
        <%= render partial: "eventlist", locals: { event: event } %>
      <% end %>
  </div>
  <div id="sf" class="tab-pane fade">

    <h3>san francisco events</h3>
        <%=form_tag filter_by_tag_path, method: 'get' do %>
<%= collection_select :event, :tag_id, Tag.all, :id, :name, {prompt: "Filter events by category"}, {class: "form-control"} %>
    <%=submit_tag "Filter"%>
  </p>
<%end%>

     <% @sfevents.each do |event| %>
        <%= render partial: "eventlist", locals: { event: event } %>
      <% end %>
  </div>
  <div id="la" class="tab-pane fade">
    <h3>los angeles events</h3>

   <%=form_tag filter_by_tag_path, method: 'get' do %>
<%= collection_select :event, :tag_id, Tag.all, :id, :name, {prompt: "Filter events by category"}, {class: "form-control"} %>
    <%=submit_tag "Filter"%>
  </p>
<%end%>

     <% @laevents.each do |event| %>
        <%= render partial: "eventlist", locals: { event: event } %>
      <% end %>
  </div>
  <div id="bos" class="tab-pane fade">
    <h3>boston events</h3>



    <%=form_tag filter_by_tag_path, method: 'get' do %>
<%= collection_select :event, :tag_id, Tag.all, :id, :name, {prompt: "Filter events by category"}, {class: "form-control"} %>
    <%=submit_tag "Filter"%>
  </p>
  <% end %>

     <% @bosevents.each do |event| %>
        <%= render partial: "eventlist", locals: { event: event } %>
      <% end %>
  </div>
  <div id="chi" class="tab-pane fade">
    <h3>chicago events</h3>



     <%=form_tag filter_by_tag_path, method: 'get' do %>
<%= collection_select :event, :tag_id, Tag.all, :id, :name, {prompt: "Filter events by category"}, {class: "form-control"} %>
    <%=submit_tag "Filter"%>
  </p>
  <% end %>
     <% @chievents.each do |event| %>
        <%= render partial: "eventlist", locals: { event: event } %>
      <% end %>
  </div>
</div>


<br>

</div>