<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.datetime.strftime("%A, %B %e - %m:%M%p") %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.url %>
</p>

<% if current_user.admin? %>
  <p>
    <strong>approved:</strong>
    <%= @event.approved %>
  </p>
<% end %>

<p>
  <strong>Event Creator:</strong>
  <%= @event.user.name %>
</p>

<p>
  <strong>Event Tags:</strong>
  <%@event.tags.each do |tag|%>
    <%=tag.name%>
  <%end%>
</p>

<% if @event.created_by?(current_user) || current_user.admin? %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
