<p id="notice"><%= notice %></p>

<% if @event.picture_url != "" %>
  <img src=<%= @event.picture_url %> />
<% else %>
  <!-- add default icon here-->
  <p></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.datetime.strftime("%A, %B %e - %m:%M%p") %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.url %>
</p>

<% if current_user && current_user.admin? %>
  <p>
    <strong>approved:</strong>
    <%= @event.approved %>
  </p>
<% end %>

<p>
  <strong>Event Creator:</strong>
  <%if @event.user.name%>
    <%= @event.user.name %>
  <%else%>
    No Name Provided
  <%end%>
</p>

<p>
  <strong>Event Tags:</strong>
  <%@event.tags.each do |tag|%>
    <%=tag.name%>
  <%end%>
</p>

<% if current_user && (@event.created_by?(current_user) || current_user.admin?) %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Home', events_path %>
