<!DOCTYPE html>
<html>
<head>
  <title>Protest45</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<ul>
    <li id="logo"><span id="logo-primary">protest</span><span id="logo-secondary">45</span></li>
	<% if user_session %>
		<li><a href="/users/sign_out">Sign Out</a></li>
	<% else %>
		<li><a href="/users/sign_up">Register</a></li>
		<li><a href="/users/sign_in">Sign In</a></li>
	<% end %>
	</ul>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<footer>
	<% if current_user %>
		<p>You are logged in as <%= current_user.name %></p>
	<% end %>
</footer>
</body>
</html>
